.HW_widget_component_widget-1 {
	>span {
		display: inline-block;
	}

	.HW_badge_cont {
		right: -5px;
		top: -5px;
		width: 30px;
		height: 30px;
	}

	.wppoolsbe-changelogs {
		font-weight: 400;
		font-size: 16px;
		line-height: 1.33;
		color: #1e1e1e;
		text-decoration: none;
		padding-right: 20px;
	}

	div#sheets-changelog-trigger {

		&:hover {
			.icon svg path {
				fill: #008717 !important;
			}

			p,
			p a {
				color: #008717;
			}
		}
	}
}


body {
	.HW_frame_cont {
		width: 360px !important;
	}

	.HW_badge,
	.HW_badge.HW_softHidden {
		background: #1C6CDB !important;
	}
}